@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
font-family: 'Josefin Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box ;
}

.pagina1{
    background: #2D314A;
    color: #F7F7F7;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 118px;
    font-size: 24px;
    padding-left: 0px;
}
.imglogo{
    width: 400px;
    display: inline-block;
    
}
nav > a{
    margin: 48px;
    
}
.universidade{
    font-size: 20px;
    color: rgb(166, 164, 164);
    margin-top: 57px;
    margin-left: 388px;
    letter-spacing: 8px;
   
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -60px;
    
}  

.empresa{
    display: inline-block;
    text-align: center;
    font-size: 42px;
    margin-left: 0px;
    
}
.imagem1{
    height: 270px;
    margin-left: -300px;
    
}

.botao1{
    display: block;
    margin-top: 0px;
    margin-left: 550px;
    height: 80px;
    width: 300px;
    font-size: 32px;
    border-radius: 20px;
    background-color: #47BAE9;

}

.pagina2{
    background-color: #FFFEFE;
    margin-top: 200px;
    color: grey;
    height: 1500px;
}
.titulo2{
    font-size: 35px;
    mar
   

}
.sobrenos{
    margin-top:100px;
}
