@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
font-family: 'Josefin Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box ;
}

.pagina1{
    background: #2D314A;
    color: #F7F7F7;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 118px;
    font-size: 24px;
    padding-left: 0px;
}


.titulos{
    min-width: 300px;
    max-width: 2000px;
    margin: auto;
}
.imglogo{
    width: 400px;
    display: inline-block;
    min-width: 320px;
    
    
}
nav > a{
    margin: 48px;
    
    
}
   

.universidade{
    display: inline-block;
    width: 700px;
    font-size: 20px;
    color: rgb(166, 164, 164);
    margin-top: 57px;
    margin-left: 338px;
    letter-spacing: 8px;
    
   

   
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -60px;
    
}  

.empresa{
    display: block;
    text-align: center;
    font-size: 42px;
    margin-left: 0px;
    
}
.imagem1{
    height: 250px;
    margin-left: -300px;
    
}

.botao1{
    display: block;
    margin-top: 0px;
    margin-left: 520px;
    height: 65px;
    width: 300px;
    font-size: 32px;
    border-radius: 20px;
    background-color: #47BAE9;

}
.back2{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: auto;
    height: auto;
}

.pagina2{

    color: grey;
    margin: auto;
    margin-top: 200px;
    display: flexbox;
    
   
}
.listasobre{
    margin-left: 300px;
    display: inline-block;
    margin-top: 100px;
}
.titulo2{
    width: 400px;
    min-width: 320px;
    margin-left: 270px;
    justify-content: space-around;
}
.items2{
    

}
.img2{
    margin-left: 250px;
    margin-bottom: 50px;
}



   





  
.l1{
    height: 200px;
    font-size: 22px;
    
}